* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.title-bar {
  -webkit-app-region: drag;
}

.header-container {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #28d8a1;
}

.header-left-side {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.header-left-side img {
  width: 30px;
  height: auto;
}

.header-left-side h3 {
  color: white;
}

.header-right-side {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-right-side button {
  padding: 5px 10px;
  font-weight: 700;
  color: #272727;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.header-right-side button:hover {
  color: white;
  background-color: #d82859;
}

.main-container {
  height: 93vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.left-main-container {
  width: 100%;
  height: 100%;
  background-color: #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 720px;
  height: 560px;
  position: relative;
  margin: 20px;
}

.right-main-container {
  background-color: #272727;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.right-main-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  border: solid 2px #cdcdcd;
  border-radius: 1rem;
  background-color: #28d8a1;
  padding: 1rem;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-main-container button:hover {
  background-color: #1fba8e;
}

video {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.emotion-progress-container {
  width: 200px;
}

.emotion-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.emotion-label {
  font-weight: bold;
  width: 80px;
}

.emotion-progress-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.label-percentage {
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.progress-bar {
  width: 70%;
  background-color: #ccc;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.progress-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s ease-in-out;
}

.empty-state-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}
