body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
}

.title-bar {
  -webkit-app-region: drag;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.video-container {
  position: relative;
  border: 2px solid green;
}

video {
  max-width: 100%;
  max-height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.emotion-progress-container {
  width: 200px;
}

.emotion-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emotion-label {
  font-weight: bold;
  width: 80px;
}

.progress-bar {
  width: calc(100% - 90px);
  background-color: #ccc;
  height: 10px;
  margin-top: 5px;
}

.progress-fill {
  height: 100%;

  background-color: #4caf50;
  width: 0%;
  transition: width 0.1s ease-in-out;
}
