body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 720px;
  height: 560px;
}

canvas {
  position: absolute;
  top: 50%; /* Position the canvas vertically at the center of the container */
  left: 50%; /* Position the canvas horizontally at the center of the container */
  transform: translate(-50%, -50%);
}
