* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../assets/images/Dark\ BG.png");
}

.title-bar {
  -webkit-app-region: drag;
}

.input-data {
  height: 45px;
  width: 270px;
  position: relative;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo-img {
  margin-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.login-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-data input {
  height: 100%;
  width: 100%;
  border: solid 2px #cdcdcd;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #323232;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data label {
  position: absolute;
  bottom: 30px;
  left: 18px;
  color: #cdcdcd;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data input:focus,
.input-data input:valid {
  border: solid 1.8px #28d8a1;
  color: #cdcdcd;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px) scale(0.8);
  background-color: #272727;
  padding: 0 0.3em;
  color: #28d8a1;
  font-size: 15px;
  bottom: 14px;
}

.login-form-buttons button {
  display: flex;
  width: 270px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #28d8a1;
  cursor: pointer;
}

.login-form-buttons button:hover {
  background-color: #1fba8e;
}
